/* font-family */

#ff1{
    font-family: 궁서체;
}

#ff2{
    font-family: 고딕체;
}

#ff2{
    font-family: Arial, Helvetica, sans-serif;
}

#ff4{
    font-family: 'Roboto', sans-serif;
}


/* font-size */

#fs{
    font-size: 30px;
}

#fs1{
    font-size: 30px;
}

#fs2{
    font-size: 2em;
}

#fs3{
    font-size: 2rem;    /* 16*2 = 32px */
}

#fs4{
    font-size: 150%;
}


/* font-weight */

#fw1{
    font-weight: bold;
}

#fw2{
    font-weight: bolder;    /* 크기 : 900 */
}

#fw3{
    font-weight: lighter;   /* 크기 : 100 */
}


/* font-style */

#fs5{
    font-style: italic;
}

#fs6{
    font-style: oblique;
}


/* font-variant */


#fv{
    font-variant: small-caps;
}

/* font */

#font1{
    font: 2em 'Roboto';
}

/* 이탤릭체, 각자의 글씨체, 글자크기 32px, small-caps, 글자 굵기는 bold, line-height: 2 */

#font2{
    font: litalic small-caps bold 32px/2 'Roboto';
}


/* color */

#c-name{
    color: navy;
}

#c-16{
    color: #dd882e;
}

#c-rgb{
    color: rgb(68, 223, 78);
    color: rgba(68, 223, 78, 0.45);
}

#c-hsl{
    color: hsl(200, 50%, 50%);
    color: hsla(200, 50%, 50%, 0.45);
}


/* text-decoration */

#td1{
    text-decoration: underline;
}

#td2{
    text-decoration:line-through;
}

#td3{
    text-decoration: overline;
}

#td4{
    text-decoration: none;
    color: inherit;
}

/* text-transform */


#tt1{
    text-transform: uppercase;
}

#tt2{
    text-transform: lowercase;
}

#tt3{
    text-transform: capitalize;
}


/* text-shadow */

.shadow{
    font-size: 50px;

}

#ts1{
    color: orange;
    text-shadow: -5px -5px 5px yellow;
}

#ts2{
    color: white;
    text-shadow: 0px 0px 10px yellowgreen;
}

#ts3{
    text-shadow: 0px 0px 4px gray, 
                 0px -5px 4px yellow,
                 0px -10px 8px orange,
                 0px -10px 15px orangered,
                 0px -22px 20px red;
}

/* white-space */
#whs{
    border: 1px solid;
    width: 200px;
    white-space: normal;
    white-space: nowrap;
    white-space: pre;
    white-space: pre-line;
    white-space: pre-wrap;
}


/* letter-spacing */


#ls{
    letter-spacing: 10px;
    letter-spacing: 1.2rem;
}


/* word-spacing */

#ws{
    word-spacing: 20px;
    word-spacing: 2rem;
}


/* text-align*/

#ta1{
    text-align: left;
}

#ta2{
    text-align: right;
}

#ta3{
    text-align: center;
}

#ta4{
    text-align: justify;
}


/* text-indent */

#ti{
    text-indent: 20px;
}



/* line-height */

#lh{
    line-height: 40px;
    line-height: 1.6;
}


/* text-overflow */

#textbox p{
    border: 1px solid;
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
}


#textbox .clipText{
    text-overflow: clip;
}

#textbox .ellipsisText{
    text-overflow: ellipsis;
}
