.container {
  display: flex;
  /* border: 1px solid black; */
}

div {
  border: 1px solid black;
}

.sidebar {
  width: 20%;
}
.main {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.mymenu {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  height: 10vh;
}

.content {
  height: 90vh;
}

.mymenu img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid black;
}
